body{
  font-family: Arial, sans-seriff;
  line-height: 1.6;
  margin: 0;
  padding: 0 20px;
  background color: #f7f7f7;
}

h1, h2, h3 {
  color: #bf549e;
}

header {
  background-color: #e5cbb2;
  color: #44444;
  padding: 20px 0; 
  text-align: center;
}

img.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
